table {
    border-collapse: separate;
    border-spacing: 0;
    width: 500px;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgba(white, 1);
    border-radius: .4em;
  }
 
  th,
  td {
    padding: 10px 15px;
    vertical-align: middle;
  }
  .thead2 {
    $candy-color: #D33144, #FFFFEE;
    background: nth($candy-color, 1);
    background: repeating-linear-gradient(45deg, 
              nth($candy-color, 2), 
              nth($candy-color, 2) 15px, 
              nth($candy-color, 1) 15px,
              nth($candy-color, 1) 30px);
  }
  th:first-child {
    border-top-left-radius: 5px;
    text-align: left;
  }
  th:last-child {
    border-top-right-radius: 5px;
  }
  td {
    border-bottom: 1px solid #cecfd5;
    border-right: 1px solid #cecfd5;
  }
  td:first-child {
    border-left: 1px solid #cecfd5;
  }
  .book-title {
    color: #395870;
    display: block;
  }
  .text-offset {
    color: #7c7c80;
    font-size: 12px;
  }
  .item-stock,
  .item-qty {
    text-align: center;
  }
  .item-price {
    text-align: right;
  }
  .item-multiple {
    display: block;
  }
  tfoot {
    text-align: right;
  }
  tfoot tr:last-child {
    background: #f0f0f2;
    color: green;
    font-weight: bold;
  }
  tfoot tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
  }
  tfoot tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
  } 

