<!DOCTYPE html>
 <html lang="is">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/assets/fonts/favicon.ico">
  </head>
  <body>
    <nav class="val">
      <div class="textival">
    {% include navigation.html %}
      </div>
    </nav>
   
    <header><h1>{{ page.title }}</h1></header>
    <video id="skautavid" autoplay muted loop>
      <source src="../pictures/skautavid.mp4" type="video/mp4">
    </video>
    <main>
       
      <article class="texti">
        {{ content }}
      </article>
      <aside>

      </aside>
      <div class="fadeIn santaBil">
          <div style="background-image: url(https://christmaswebmaster.com/images/santa-countdown.png); height:197px; width:275px; background-repeat: no-repeat;
            background-size: 275px 197px;"><div style="padding-left:130px; font-size:18px; padding-right: 10px; padding-top:65px; text-align:center;">
          <script>
          today = new Date();
          BigDay = new Date("December 24, 2019")
          msPerDay = 24 * 60 * 60 * 1000 ;
          timeLeft = (BigDay.getTime() - today.getTime());
          e_daysLeft = timeLeft / msPerDay;
          daysLeft = Math.floor(e_daysLeft);
          e_hrsLeft = (e_daysLeft - daysLeft)*24;
          hrsLeft = Math.floor(e_hrsLeft);
          minsLeft = Math.floor((e_hrsLeft - hrsLeft)*60);
          document.write( "Það eru "+daysLeft+" dagar, "+hrsLeft+" klukkutímar og "+minsLeft+" mínútur til Jóla!");
          </script>
          </div></div>
        </div>
    </main>
<footer>
    <hr> 
    {% include footer.html %} 
</footer>
</body>
</html>

